services:
  nginx:
    image: nginx:latest
    container_name: matephp-nginx
    ports:
      - "8001:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - db

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: matephp-php
    volumes:
      - ./:/var/www/html
    command: sh -c "chown -R www-data:www-data /var/www/html/storage && chmod -R 775 /var/www/html/storage && php-fpm"

  db:
    image: mysql:8.0
    container_name: matephp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: matephp
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: matephp-phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8989:80"
    depends_on:
      - db
